*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.search{
  background-color: blueviolet;
  text-align: center;
  padding: 10px;

}

.search h2{
  color: white;
  padding: 20px;
}

.searchInput{
  width: 80%;
  height: 40px;
  padding-left: 10px;
}